[배경] 
안녕하세요!

해커톤 41회, 소득 예측 AI 해커톤에 오신 것을 환영합니다.  

이번 데이콘 해커톤은 다양한 개인적 특성을 바탕으로 한 데이터를 활용하여 소득 수준을 예측하는 것을 목표로 합니다.

참가자 여러분들은 제공된 개인 특성 데이터를 기반으로 한 알고리즘 개발을 통해 

개인의 소득 수준을 예측함으로써 사회적 문제 해결에 기여할 수 있는 기회가 될 것입니다. 

또한, 이번 대회의 목표는 단순히 개인 소득 수준을 예측하는 것을 넘어, 

다양한 개인적 특성 데이터를 분석하고 이해하는 능력을 키우며,

이를 통해 AI 역량과 경험을 한 단계 더 발전시키는 것입니다. 



[주제]
개인 특성 데이터를 활용하여 개인 소득 수준을 예측하는 AI 모델 개발



[설명]
개인의 특성과 관련된 다양한 데이터를 활용하여 개인 소득 수준을 예측할 수 있는 AI 모델 개발



[주최 / 주관]
데이콘



[참가 대상]
데이커라면 누구나

1. 평가
평가산식 : RMSE
Public Score: 전체 테스트 데이터 중 30%
Private Score: 전체 테스트 데이터 중 70%


2. 참여 규칙
개인으로만 참여 가능
개인 참가 방법: 팀 신청 없이, 자유롭게 제출 창에서 제출 가능
 

3. 외부 데이터 및 사전 학습 모델
외부 데이터 사용 불가
사용에 법적 제한이 없으며 논문으로 공개된 베이스의 사전 학습 모델(Pre-trained Model) 사용 가능


4. AutoML 패키지
모든 AutoML 패키지 사용 불가능


5. 유저평가
수상 인증서를 원하는 팀은 먼저 유저 평가를 받아야 합니다.
Private 순위 공개 후, 코드 제출 기간 내 코드 공유 페이지에 코드 업로드
제목에 Private 순위와 사용한 모델, 코드에 대한 keyword 기재
예시) Private 1위, LGBM 모델, 00전처리 기법 활용

대회 참가자는 공개된 코드 평가
코드 오류, 외부 데이터 사용 등 코멘트를 댓글로 작성
 

6. 유의 사항
1일 최대 제출 횟수: 3회
사용 가능 언어: Python, R
모델 학습에서 평가 데이터셋 활용(Data Leakage)시 수상 제외
label encoding, one-hot encoding 시 test 데이터 셋 활용
test 데이터 셋의 결측치 처리 시 test 데이터 셋의 통계 값 활용
data scaling 적용 시 test 데이터 셋 활용
test 데이터 셋에 pd.get_dummies() 함수 적용
위 예시 외에도 test 데이터 셋이 모델 학습에 활용되는 경우에 Data leakage에 해당됨
이런 Data Leakage (참고 : Data Leakage에 대한 개인적인 정리) 혹은 규칙 위반이 의심되는 경우 코드를 요청할 수 있음
모든 학습, 추론의 과정 그리고 추론의 결과물들은 정상적인 코드를 바탕으로 이루어져야하며, 비정상적인 방법으로 얻은 제출물들은 적발 시 규칙 위반에 해당됩니다.
최종 순위는 선택된 파일 중에서 채점되므로 참가자는 제출 창에서 자신이 최종적으로 채점 받고 싶은 파일 2개를 선택해야 함
대회 직후 공개되는 Private 랭킹은 최종 순위가 아니며 코드 검증 후 수상자가 결정됨
데이콘은 부정 제출 행위를 금지하며 데이콘 대회 부정 제출 이력 있을 시 평가 제한 (참조: https://dacon.io/notice/notice/13)
 

6. 토론(질문)
대회 운영 및 데이터 이상에 관련된 질문 외에 답변하지 않고 있음
			* 데이콘 답변을 희망하는 경우 토론 제목에 [DACON 답변 요청] 문구를 넣어야 함

			예) [DACON 답변 요청] 시상식은 언제 열리나요?

[세부일정]
- 대회 기간 : 2024년 03월 11일 10:00 ~ 2024년 04월 08일 10:00

- 대회 종료 : 2024년 04월 08일 10:00

- 코드 및 제출 마감 : 2024년 04월 10일 23:59

- 코드 검증 : 2024년 04월 11일 00:00 ~ 2024년 04월 14일 23:59

- 최종 수상자 발표 : 2024년 04월 15일 10:00



※ 세부 일정은 대회 운영 상황에 따라 변동될 수 있습니다

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('income/open/train.csv')

20000 rows × 23 columns

In [4]:
df.describe()

,Age,Working_Week (Yearly),Gains,Losses,Dividends,Income
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,35.632500,34.943050,383.129500,40.202150,123.451450,554.565250
std,17.994414,22.254592,4144.247487,279.182677,1206.949429,701.553155
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,7.000000,0.000000,0.000000,0.000000,0.000000
50%,34.000000,52.000000,0.000000,0.000000,0.000000,500.000000
75%,47.000000,52.000000,0.000000,0.000000,0.000000,875.000000
max,90.000000,52.000000,99999.000000,4356.000000,45000.000000,9999.000000

In [5]:
df

,ID,Age,Gender,Education_Status,Employment_Status,Working_Week (Yearly),Industry_Status,Occupation_Status,Race,Hispanic_Origin,...,Citizenship,Birth_Country,Birth_Country (Father),Birth_Country (Mother),Tax_Status,Gains,Losses,Dividends,Income_Status,Income
0,TRAIN_00000,63,M,Middle (7-8),Full-Time,4,Social Services,Services,White,All other,...,Native,US,US,US,Nonfiler,0,0,0,Unknown,425
1,TRAIN_00001,37,M,Associates degree (Vocational),Full-Time,52,Entertainment,Services,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,0
2,TRAIN_00002,58,F,High graduate,Full-Time,52,Manufacturing (Non-durable),Admin Support (include Clerical),Black,All other,...,Native,US,US,US,Married Filling Jointly both under 65 (MFJ),3411,0,0,Under Median,860
3,TRAIN_00003,44,M,High graduate,Full-Time,52,Retail,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,850
4,TRAIN_00004,37,F,High graduate,Full-Time,52,Retail,Sales,White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Unknown,570
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,TRAIN_19995,33,M,High graduate,Children or Armed Forces,52,Manufacturing (Durable),Handlers/Cleaners,White,All other,...,Native,US,US,US,Single,0,0,0,Under Median,1300
19996,TRAIN_19996,20,F,College,Full-Time,12,Education,Admin Support (include Clerical),White,Mexican-American,...,Native,US,Mexico,Mexico,Nonfiler,0,0,0,Under Median,850
19997,TRAIN_19997,22,M,College,Children or Armed Forces,52,Transportation,Technicians & Support,White,All other,...,Native,US,US,US,Single,0,0,0,Unknown,999
19998,TRAIN_19998,76,F,High graduate,Not Working,0,Not in universe or children,Unknown,White,All other,...,Native,US,Scotland,England,Single,0,0,0,Under Median,0
19999,TRAIN_19999,41,F,High graduate,Children or Armed Forces,52,Public Administration,Admin Support (include Clerical),White,All other,...,Native,US,US,US,Head of Household (HOH),0,0,0,Under Median,671