https://dacon.io/competitions/official/236230/talkboard

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('income/open/train.csv')

20000 rows × 23 columns

In [7]:
# 수치형 컬럼 5개 (income 제외)
df.describe()

,Age,Working_Week (Yearly),Gains,Losses,Dividends,Income
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,35.632500,34.943050,383.129500,40.202150,123.451450,554.565250
std,17.994414,22.254592,4144.247487,279.182677,1206.949429,701.553155
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,7.000000,0.000000,0.000000,0.000000,0.000000
50%,34.000000,52.000000,0.000000,0.000000,0.000000,500.000000
75%,47.000000,52.000000,0.000000,0.000000,0.000000,875.000000
max,90.000000,52.000000,99999.000000,4356.000000,45000.000000,9999.000000

In [13]:
# 컬럼 확인
df.columns

Index(['ID', 'Age', 'Gender', 'Education_Status', 'Employment_Status',
       'Working_Week (Yearly)', 'Industry_Status', 'Occupation_Status', 'Race',
       'Hispanic_Origin', 'Martial_Status', 'Household_Status',
       'Household_Summary', 'Citizenship', 'Birth_Country',
       'Birth_Country (Father)', 'Birth_Country (Mother)', 'Tax_Status',
       'Gains', 'Losses', 'Dividends', 'Income_Status', 'Income'],
      dtype='object')

['ID', 
'Age', 
'Gender' 라벨 인코딩
'Education_Status' 단계별 범주화 ['Middle (7-8)', 'Associates degree (Vocational)', 'High graduate', 'Masters degree', 'Bachelors degree', 
                                    'High Freshman', 'Elementary (1-4)', 'College', 'Children', 'High Sophomore', 'Associates degree (Academic)', 
                                    'High Junior', 'Elementary (5-6)', 'Doctorate degree', 'Professional degree', 'High Senior', 'Kindergarten']

'Employment_Status' 단계별 범주화 ['Full-Time', 'Children or Armed Forces', 'Not Working','Seeking Full-Time', 'Choice Part-Time',
                                    'Part-Time (Usually Part-Time)', 'Part-Time (Usually Full-Time)', 'Seeking Part-Time']

'Working_Week (Yearly)' 수치형

'Industry_Status'

'Occupation_Status'
'Race'
'Hispanic_Origin'
'Martial_Status'
'Household_Status'
'Household_Summary'
'Citizenship'
'Birth_Country'
'Birth_Country (Father)'
'Birth_Country (Mother)'
'Tax_Status'
'Gains' 수치형
'Losses' 수치형
'Dividends' 수치형
'Income_Status'
'Income']

In [23]:
df['Industry_Status'].unique()

array(['Social Services', 'Entertainment', 'Manufacturing (Non-durable)',
       'Retail', 'Not in universe or children', 'Construction',
       'Hospitals', 'Manufacturing (Durable)', 'Public Administration',
       'Education', 'Finance Insurance & Real Estate', 'Transportation',
       'Medical (except Hospitals)', 'Wholesale',
       'Other professional services',
       'Personal Services (except Private Household)',
       'Business & Repair', 'Private Household Services', 'Mining',
       'Agriculture', 'Utilities & Sanitary', 'Communications',
       'Forestry & Fisheries', 'Armed Forces'], dtype=object)